<h2>About me</h2>
<div class="two-column clearfix">
  <div class="column left">
    <%= image_tag 'Salisbury_sm-medium.jpg' %>
    <div class="contact">
      <strong>Ranchor Prime</strong><br>
      10 Grafton Mews, London W1T 5JG, UK<br>
      write to ranchorprime at gmail.com
    </div>
  </div>

  <div class="column">
    <p>I write about spirituality, publish my own and other people's books, and teach Bhagavad Gita.</p>

    <p>I was born Richard Prime in 1950 and grew up in Sussex, where I roamed the woods and explored the streams (still my favourite pastime). My father was a doctor and my mother a businesswoman.</p>

    <p>I was an art student in Chelsea in 1970 when I discovered the Bhagavad Gita and met followers of Krishna. I joined the Radha Krishna Temple and became a disciple of A C Bhaktivedanta Swami. In 1971 I was given the name Ranchor Das. During the 1970s I pioneered a Hare Krishna centre in Manchester, painted pictures, and built and managed a new Radha Krishna temple in the West End of London. In 1987 I began working as an adviser to WWF, the World Wide Fund for Nature, on religion and conservation.</p>

    <p>My first book, Hinduism and Ecology, written in 1990, arose from my work with WWF in Britain and India. This led me to found Friends of Vrindavan, an environmental charity for conserving the sacred forests of Krishna in India and strengthening the link between Hinduism and ecology. In 1996 I helped found ARC, the Alliance of Religions and Conservation, which works with religions worldwide to support environmental education and action.</p>

    <p>I started Fitzrovia Press in October 2008 to publish my own books and new writing from other authors. The press is dedicated to producing spiritual books for a broad readership.</p>
  </div>
</div>