<h1>Events</h1>
<h2>EVENTS in 2014: Talks, classes, workshops and kirtan</h2>

<h3>Home classes every Wednesday evening</h3>
<%= image_tag 'studio_panorama_sm.jpg', { class: 'bordered' } %>
<p><span class="highlight">Weekly Bhagavad Gita chanting and discussion</span> - in my garden studio in Fitzrovia. Classes begin and end with devotional chanting and allow time for questions and discussion. The ancient poem of 700 Sanskrit verses offers a deep understanding of life relevant to the beginner as much as to the advanced yogi.<br>
At my home, 10 Grafton Mews W1T 5JG.<br>
Classes are open to all.<br>
Every Wednesday 7pm-8.30pm<br>
Suggested donation £5</p>

<p>&nbsp;</p>

<h3>Brighton Satsang: Hearing the Inner Voice</h3>
<p>An introduction to the Bhagavad Gita in four sessions<br>
<strong>First session: Knowledge of the self: Jnana Yoga</strong><br>
The self is eternal and indestructible, without beginning or end. At the end of life the self is carried into another body in the continuing cycle of rebirth.<br>
With time for questions and discussion, and closing with devotional chanting.<br> 
<strong>16th February, 7pm-8pm, Jing Massage Institute, 28/29 Bond Street, Brighton</strong> <em>(by donation)</em><br>
Details here: <%= link_to 'www.brightonyoga.org', '//www.brightonyoga.org', { target: :blank } %></p>

